<div
  class="vh-100 d-flex flex-column p-0 shadow-sm mt-0"
  style="background-color: #f8f9fa; border-right: 1px solid #dee2e6; "
>
  <h4 class="text-center py-3 border-bottom mb-0 fw-bold text-dark ">
    Dashboard
  </h4>

  <div class="list-group list-group-flush mt-3 py-3">
    <button 
      *ngFor="let m of modules"
      type="button"
      class="sidebar-btn list-group-item list-group-item-action"
      [class.active]="active === m.module_name.toLowerCase()"
      (click)="setActive(m.module_name.toLowerCase())"
    >
      <i class="bi bi-people-fill me-2"></i> {{ m.module_name }}
    </button>
  </div>
</div>
